@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");

/* تصاميم عامة */
body,
html {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* تصاميم خاصة بالهيدر */
header {
  background-color: transparent;
  width: 100vh;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav a:hover {
  color: #d21ec9;
}

.logo {
  text-decoration: none;
  color: #e4e5f0;
  font-size: 3vh;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 700;
}

.logo span {
  text-decoration: none;
  color: #d21ec9;
  font-size: 1vh;
  font-size: 0.5em;
  font-weight: 700;
}

/* تصاميم خاصة بقسم 1 */
.home {
  height: 100vh;
  background-image: url(../images/wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  display: flex;
  height: 100vh;
  align-items: center;
 
}


.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #d21ec9;
  padding: 3px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 20px;

}

.image .profile-image {
  background-image: url(../images/profile-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border :  3px solid #F8EDFF
}



.hello {
  font-size: 2em;
  margin: 0;
}
.hello span {
  color: #d21ec9;
  display: block;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 50px;
}



.profile-info h1,
.profile-info h2 {
  color: white; 
  margin: 0;/* أو أى لون آخر */
}

